.main{
    margin: auto;
    width: 45%;
    padding: 10px;
    height: auto;
    margin-bottom: 5px;
}
.heading{
    margin-left: 10px;
}
.box, .comment{
    height: 200px;
    border: 1px solid #EDECEC;
}
#tweetbtn{
    width:65px;
    height: 32px;
    border-radius: 1em;
    border: none;
    background-color: #1D9BF0;
    color: white;
    float: right;
    margin-top: 5px;
    margin-right: 5px;
    cursor: pointer;
}
textarea{
    resize: none;
    border: none;
    font-size: 15px;
}
textarea:focus {
    outline: none;
  }

.usermsg::placeholder{
    font-size: 20px;
}
.usermsg{
    float: left;
}
.userimg{
    float: left;
    padding: 0px 10px 10px 10px;
    margin-top: -10px;
}
@media screen and (max-width: 1200px) {
    .box, .usermsg, input[type=button] {
      width: 100%;
      margin-top: 0;
    }
  }
  p{
    height: 200px;
  }
  .cmtuserimg{
    float: left;
    padding: 0px 10px 10px 10px;
    margin-top: 10px;
  }
  .userName{
    float: left;
    margin-left: 10px;
  }
  .userId{
    float: right;
    margin-right: 270px;
    color: #757575;
    font-weight: normal;
  }
  .tweet{

    margin-left:75px;
    margin-top: 55px;
    padding: 5px;
    overflow-wrap: break-word;
    text-align: justify;
    height: 90px;

  }
  .editbtn, .deletebtn, .likebtn{
    width: 20px;
    float: left;
    margin-left: 100px;
    cursor: pointer;
  }